<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="date"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056B3;
        }
    </style>
</head>

<body>
    {% csrf_token %}
    <div class="container">
        <h2>Class Attendance Stats</h2>
        <form id="attendanceForm">
            <label for="phase">Class Name:</label>
            <label for="client" id="client_id" style="display: none;">{{client_id}}</label>
            <select name="phase" id="phase" required>
                <option value="" selected disabled>Select Class</option>
                <option value="___NONE___">Show for all Class</option>


                {% for phase in phases %}
                {% if phase.phase_name != "Shanti Asiatic School - Demo" %}
                <option value="{{ phase.phase_id }}">{{ phase.phase_name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="date">Date Range:</label>
            <select name="date" id="date">
                <option value="___NONE___">Show Data for All Dates</option>
                <option value="custom">Custom</option>
                <option value="today">Today</option>
                <option value="yesterday">Yesterday</option>
                <option value="1w">1 Week</option>
                <option value="2w">2 Weeks</option>
                <option value="3w">3 Weeks</option>
                <option value="this_month">This Month</option>
                <option value="past_month">Past Month</option>
            </select><br>
            <input type="date" id="customDate" name="customDate" style="display: none;"><br>
            <br>
            <br>
            <button type="submit">Get Attendance Stats</button>
        </form>
        <div id="resultContainer">
            <!-- Display the fetched data here -->
        </div>
    </div>
    <div id="chart-container"></div>
    <br><br><br>
    <div id="linechart-container"></div>


















    <script>
        document.getElementById("attendanceForm").addEventListener("submit", function (event) {

            document.getElementById("chart-container").innerHTML = "";
            event.preventDefault();
            var phase_id = document.getElementById("phase").value;
            var dateOption = document.getElementById("date").value;
            var client_id = document.getElementById("client_id").textContent;
            // console.log(client_id)
            // var client_id = "6492b87042009a36db2b33e7";
            var end_date = "";
            var start_date = "";
            switch (dateOption) {
                case "today":
                    start_date = new Date().toISOString().split('T')[0];
                    end_date = new Date().toISOString().split('T')[0];
                    break;
                case "yesterday":
                    var yesterday = new Date();
                    yesterday.setDate(yesterday.getDate() - 1);
                    start_date = yesterday.toISOString().split('T')[0];
                    end_date = yesterday.toISOString().split('T')[0];
                    break;
                case "1w":
                case "2w":
                case "3w":
                    var weeksAgo = parseInt(dateOption);
                    var targetDate = new Date();
                    targetDate.setDate(targetDate.getDate() - (weeksAgo * 7));
                    end_date = new Date().toISOString().split('T')[0];
                    start_date = targetDate.toISOString().split('T')[0];
                    break;
                case "this_month":
                    var today = new Date();
                    var firstDay = new Date(today.getFullYear(), today.getMonth(), 2);
                    end_date = new Date().toISOString().split('T')[0];
                    start_date = firstDay.toISOString().split('T')[0];
                    break;
                case "past_month":
                    var today = new Date();
                    var lastMonth = new Date(today.getFullYear(), today.getMonth() - 1, 2);
                    end_date = new Date(today.getFullYear(), today.getMonth(), 1).toISOString().split('T')[0];
                    start_date = lastMonth.toISOString().split('T')[0];
                    break;
                case "custom":
                    start_date = document.getElementById("customDate").value;
                    end_date = document.getElementById("customDate").value;
                    break;
            }
            console.log(start_date)
            console.log(end_date)
            $.ajax({
                url: 'http://13.127.247.10/api/attendance-stats/',
                // url: 'http://127.0.0.1:8000/api/attendance-stats/',
                method: 'POST',
                data: {
                    phase_id: phase_id,
                    start_date: start_date,
                    end_date: end_date,
                    client_id: client_id,
                },
                success: function (response) {

                    if (response.message === "No attendance data found for the specified criteria.") {

                        document.getElementById("chart-container").innerHTML = "<h1 align='center'>No data available</h1>";

                    }

                    if (document.getElementById("phase").value == "___NONE___") {
                        const aggregatedStats = {};
                        const attendanceData = response.attendance;

                        attendanceData.forEach(entry => {
                            if (entry.phasename.length != 0) {
                                const name = entry.phasename[0].name;
                                const stats = entry.result[0].stats;
                                if (aggregatedStats[name]) {
                                    for (const key in stats) {
                                        if (stats.hasOwnProperty(key)) {
                                            aggregatedStats[name][key] += stats[key];
                                        }
                                    }
                                } else {
                                    aggregatedStats[name] = { ...stats };
                                }

                            }
                            else {
                                const name = "";
                                const stats = 0;
                            }


                        });

                        const aggregatedData = Object.keys(aggregatedStats).map(name => ({
                            name,
                            stats: aggregatedStats[name]
                        }));

                        const presentPercentages = aggregatedData.map(entry => {
                            const total = entry.stats.P + entry.stats.A;
                            return {
                                name: entry.name,
                                y: (entry.stats.P / total) * 100,
                                drilldown: entry.name
                            };
                        });

                        // Create the chart
                        Highcharts.chart('chart-container', {
                            chart: {
                                type: 'pie',

                            },
                            title: {
                                text: 'Present Percentage by Class'
                            },
                            series: [
                                {
                                    name: 'Classes',
                                    colorByPoint: true,
                                    data: presentPercentages
                                }
                            ],
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.y:.2f}</b>'
                            },
                            legend: {
                                enabled: true, // Set this to true to display the legend
                                align: 'right',
                                layout: 'vertical',
                                verticalAlign: 'middle'
                            },
                            drilldown: {
                                series: aggregatedData.map(entry => ({
                                    name: entry.name,
                                    id: entry.name,
                                    data: [
                                        {
                                            name: 'Present',
                                            y: entry.stats.P,
                                            count: entry.stats.P
                                        },
                                        {
                                            name: 'Absent',
                                            y: entry.stats.A,
                                            count: entry.stats.A
                                        }

                                    ]
                                }))
                            },
                            drillUpButton: {
                                relativeTo: 'spacingBox',
                                position: {
                                    y: 0,
                                    x: 0
                                },
                                theme: {
                                    fill: 'white',
                                    'stroke-width': 1,
                                    stroke: 'silver',
                                    r: 0,
                                    states: {
                                        hover: {
                                            fill: '#a4edba'
                                        },
                                        select: {
                                            stroke: '#039',
                                            fill: '#a4edba'
                                        }
                                    }
                                }
                            }

                        });

                        // var resultContainer = document.getElementById("chart-container");
                        // resultContainer.innerHTML = JSON.stringify(aggregatedResponse, null, 1);
                    }



                    else {



                        var categories = [];
                        var presentData = [];
                        var absentData = [];

                        for (var i = 0; i < response.attendance.length; i++) {
                            var date = response.attendance[i].date.split('T')[0];
                            var present = response.attendance[i].result[0].stats.P;
                            var absent = response.attendance[i].result[0].stats.A;

                            categories.push(date);
                            presentData.push(present);
                            absentData.push(absent);

                        }

                        // Create the chart
                        Highcharts.chart('chart-container', {
                            chart: {
                                type: 'column',

                            },
                            title: {
                                text: 'Attendance Chart'
                            },
                            xAxis: {
                                categories: categories,
                                min: 0,
                                max: categories.length >= 10 ? 10 : categories.length - 1,
                                scrollbar: {
                                    enabled: true
                                }
                            },
                            yAxis: {
                                title: {
                                    text: 'Number of Students'
                                }
                            },

                            legend: {
                                reversed: true
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            series: [{
                                name: 'Present',
                                data: presentData
                            }, {
                                name: 'Absent',
                                data: absentData
                            }]
                        });


                        Highcharts.chart("linechart-container", {
                            title: {
                                text: "Attendance Trend"
                            },
                            xAxis: {
                                categories: categories
                            },
                            yAxis: {
                                title: {
                                    text: "Attendance"
                                }
                            },
                            series: [
                                {
                                    name: "Present Data",
                                    data: presentData
                                },
                                {
                                    name: "Absent Data",
                                    data: absentData
                                },
                                {
                                    type: "line",
                                    name: "Trendline",
                                    data: calculateTrendlineData(presentData),
                                    marker: {
                                        enabled: false
                                    }
                                }
                            ]
                        });

                        function calculateTrendlineData(data) {
                            const xValues = categories.map((_, index) => index);
                            const yValues = data;

                            const sumX = xValues.reduce((acc, val) => acc + val, 0);
                            const sumY = yValues.reduce((acc, val) => acc + val, 0);
                            const sumXY = xValues.reduce((acc, val, index) => acc + val * yValues[index], 0);
                            const sumX2 = xValues.reduce((acc, val) => acc + val ** 2, 0);

                            const slope = (xValues.length * sumXY - sumX * sumY) / (xValues.length * sumX2 - sumX ** 2);
                            const intercept = (sumY - slope * sumX) / xValues.length;

                            return xValues.map((x) => slope * x + intercept);
                        }


                    }
                }
            });
        });
        document.getElementById("date").addEventListener("change", function () {
            var customDateInput = document.getElementById("customDate");
            if (this.value === "custom") {
                customDateInput.style.display = "block";
            } else {
                customDateInput.style.display = "none";
            }
        });
    </script>
</body>

</html>