<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="date"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056B3;
        }

        .navbar {
            background-color: #333;
            padding: 10px;
            /* Adjust the padding as needed */
            text-align: left;
            /* Align the button to the right */
        }

        /* Style for the "Student Wise" button */
        #studentWiseButton {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            /* Adjust the padding as needed */
            border: none;
            cursor: pointer;
        }

        /* Hover effect for the button */
        #studentWiseButton:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body id="body">
    <div class="navbar">
        <button id="studentWiseButton">back</button>
    </div><br><br>
    <div class="container">
        <h2>Students Attendance Stats</h2>
        <form id="attendanceForm" method="post">
            {% csrf_token %}
            <label for="client" id="client_id" style="display: none;">{{client_id}}</label>
            <label for="phase">Phase Name:</label>
            <select name="phase" id="phase_id" required>
                <option value="" selected disabled>Select phase</option>
                {% for data in phaseinfo %}
                <option value="{{ data.phaseid }}">{{ data.phasename }}</option>
                {% endfor %}
            </select>
            <label for="student" id="studentLabel" style="display: none;">Student Name:</label>
            <select name="student" id="studentSelect" required style="display: none;">
                <option value="" selected disabled>Select student</option>
                {% for data in studentinfo %}
                <option value="{{ data.userid }}">{{ data.username }}</option>
                {% endfor %}
            </select>
            <label for="date">Date Range:</label>
            <select name="date" id="date">
                <option value="___NONE___">Show Data for All Dates</option>
                <option value="custom">Custom</option>
                <option value="today">Today</option>
                <option value="yesterday">Yesterday</option>
                <option value="1w">1 Week</option>
                <option value="2w">2 Weeks</option>
                <option value="3w">3 Weeks</option>
                <option value="this_month">This Month</option>
                <option value="past_month">Past Month</option>
            </select><br>
            <input type="date" id="customDate" name="customDate" style="display: none;"><br>
            <br>
            <button type="submit" id="getAttendanceButton">Get Attendance Stats</button>
        </form>
    </div>
    <div id="barChartContainer">
        <!-- The chart will be displayed here -->
    </div>
    <div id="lineChartContainer"></div>
    <div class="modal" id="datesModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Attendance Dates</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ul id="datesList"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Get the "Student Wise" button element
        var studentWiseButton = document.getElementById('studentWiseButton');

        // Add a click event listener to the button
        studentWiseButton.addEventListener('click', function () {
            // Call your JavaScript function here
            redirectToStudentWise();
        });

        // JavaScript function to handle the redirection
        function redirectToStudentWise() {
            // Get the client_id from the hidden label
            var client_id = document.getElementById('client_id').textContent;

            // Construct the URL with the client_id parameter
            // var url = 'http://127.0.0.1:8000/attendance/?client_id=' + client_id;
            var url = 'http://13.127.247.10/attendance/?client_id=' + client_id;
            // Redirect to the URL
            window.location.href = url;
        }

        $('#phase_id').on('change', function () {
            var phase_id = $(this).val();
            if (phase_id) {
                $.ajax({
                    url: '/get_students/',
                    method: 'POST',
                    data: { phase_id: phase_id },
                    success: function (data) {
                        $('#studentSelect').empty();
                        $('#studentLabel, #studentSelect').show();
                        $('#studentSelect').append($('<option value="" selected disabled>Select student</option>'));
                        for (var i = 0; i < data.studentinfo.length; i++) {
                            $('#studentSelect').append($('<option>', {
                                value: data.studentinfo[i].userid,
                                text: data.studentinfo[i].username
                            }));
                        }
                    }
                });
            } else {
                $('#studentLabel, #studentSelect').hide();
            }
        });
        document.getElementById("attendanceForm").addEventListener("submit", function (event) {
            event.preventDefault();
            var phase_id = document.getElementById("phase_id").value;
            var dateOption = document.getElementById("date").value;
            var user_id = document.getElementById("studentSelect").value;
            var client_id = document.getElementById("client_id").textContent;
            var end_date = "";
            var start_date = "";
            console.log(client_id);
            console.log(phase_id);


            switch (dateOption) {
                case "today":
                    start_date = new Date().toISOString().split('T')[0];
                    end_date = new Date().toISOString().split('T')[0];
                    break;
                case "yesterday":
                    var yesterday = new Date();
                    yesterday.setDate(yesterday.getDate() - 1);
                    start_date = yesterday.toISOString().split('T')[0];
                    end_date = yesterday.toISOString().split('T')[0];
                    break;
                case "1w":
                case "2w":
                case "3w":
                    var weeksAgo = parseInt(dateOption);
                    var targetDate = new Date();
                    targetDate.setDate(targetDate.getDate() - (weeksAgo * 7));
                    end_date = new Date().toISOString().split('T')[0];
                    start_date = targetDate.toISOString().split('T')[0];
                    break;
                case "this_month":
                    var today = new Date();
                    var firstDay = new Date(today.getFullYear(), today.getMonth(), 2);
                    end_date = new Date().toISOString().split('T')[0];
                    start_date = firstDay.toISOString().split('T')[0];
                    break;
                case "past_month":
                    var today = new Date();
                    var lastMonth = new Date(today.getFullYear(), today.getMonth() - 1, 2);
                    end_date = new Date(today.getFullYear(), today.getMonth(), 1).toISOString().split('T')[0];
                    start_date = lastMonth.toISOString().split('T')[0];
                    break;
                case "custom":
                    start_date = document.getElementById("customDate").value;
                    end_date = document.getElementById("customDate").value;
                    break;
            }
            console.log(end_date);
            console.log(start_date);
            var requestData = {
                phase_id: phase_id,
                start_date: start_date,
                end_date: end_date,
                client_id: client_id,
                user_id: user_id,
            };

            $.ajax({
                // url: 'http://127.0.0.1:8000/api/attendance-stats/',
                url: 'http://13.127.247.10/api/attendance-stats/',
                method: 'POST',
                data: requestData,
                success: function (response) {
                    const data = response.attendance; // Replace 'response.response' with 'response' if the data is directly in 'response'

                    const dates = data.map(entry => entry.date);
                    const status = data.map(entry => entry.status);
                    const username = data.map(entry => entry.username);
                    Highcharts.chart('barChartContainer', {
                        chart: {
                            type: 'pie', // Change the chart type to 'pie' for a donut chart
                            options3d: {
                                enabled: true,
                                alpha: 45
                            }
                        },
                        title: {
                            text: 'Attendance Status (Donut Chart)'
                        },
                        plotOptions: {
                            pie: {
                                innerSize: '50%', // Set the inner size to create a donut chart
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                                    style: {
                                        color: 'black'
                                    }
                                },
                                point: {
                                    events: {
                                        click: function () {
                                            var statusClicked = this.name; // 'Absent' or 'Present'
                                            var datesForStatus = [];

                                            // Loop through dates and collect dates for the selected status
                                            for (var i = 0; i < dates.length; i++) {
                                                if (status[i] === statusClicked.charAt(0)) {
                                                    datesForStatus.push(dates[i]);
                                                }
                                            }

                                            // Populate the modal dialog with the dates
                                            $('#datesList').empty(); // Clear existing list
                                            $.each(datesForStatus, function (index, date) {
                                                $('#datesList').append('<li>' + date + '</li>');
                                            });

                                            // Show the modal dialog
                                            $('#datesModal').modal('show');
                                        }
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Status',
                            data: [{
                                name: 'Absent',
                                y: status.filter(status => status === 'A').length, // Count 'A' (absent) entries
                                color: 'red' // Set the color for absent
                            }, {
                                name: 'Present',
                                y: status.filter(status => status === 'P').length, // Count 'P' (present) entries
                                color: 'green' // Set the color for present
                            }]
                        }]
                    });





                }

            });
        });
        document.getElementById("date").addEventListener("change", function () {
            var customDateInput = document.getElementById("customDate");
            if (this.value === "custom") {
                customDateInput.style.display = "block";
            } else {
                customDateInput.style.display = "none";
            }
        });
    </script>
</body>

</html>